h1{
  margin-left: 10%;
}

#card-home{
    background-color: #E9E9E9;
    margin: 0 auto;
    width: 40%;
    margin-bottom: 10%;
  }
  
 #button {
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
}
h2, p{
  padding-left: 5%;
}
h2{
  padding-top: 5%;
}

