jw-modal {
    display: none;
    .jw-modal {
        position: fixed;
        inset: 0;

        z-index: 10000;
        
        background-color: rgba(0, 0, 0, .75);
        padding: 40px;

        overflow: auto;
    }

    .jw-modal-body {
        padding: 20px;
        background: #fff;
    }
}

body.jw-modal-open {
    overflow: hidden;
}