div {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    
    border: solid;
    border-color: #C6C6C6;
  }
  
  img {
    width: 20%;
    margin: 1%;
  }

header {
    border-bottom-style: solid;
    border-bottom-color: #2DA500;
  }
  