.boxOne{
    width: 60%;
    height: 60%;
    margin: 0 auto;
    
    border: solid;
    border-color: #C6C6C6;
  }
.userBox{
    width: 10%;
    height: 10%;
    margin-top: 2%;
    float: right;
}
  img {
    width: 20%;
    margin: 1%;
  }

header {
    border-bottom-style: solid;
    border-bottom-color: #2DA500;
  }

