<div id="login">
    <div class="userLogin">
        <div>
            <label for="user" class="block">Usuario: </label>
            <input id="user" type="text" pInputText [(ngModel)]="user"/>
        </div>
    </div>
    <div class="passwordLogin">
        <div>
            <label for="password" class="block">Contraseña: </label>
            <input id="password" type="text" pInputText [(ngModel)]="password"/>
        </div>
    </div>

    <div class="loginButton">
         <p-button label="Aceptar" (click)="saveUser()"></p-button>
    </div>
</div>