<div>
    <div class="grid p-fluid">
        <div class="col-12 field">
            <label for="nombre" class="block">Usuario</label>
            <input id="nombre" type="text" pInputText [(ngModel)]="user"/>
        </div>
    </div>
    <div class="grid p-fluid">
        <div class="col-12 field">
            <label for="nombre" class="block">Contraseña</label>
            <input id="nombre" type="text" pInputText [(ngModel)]="password"/>
        </div>
    </div>

    <div class="grid p-fluid">
        <div class="col-4">
            <div class="boton boton-verde">
                <p-button label="Aceptar" (click)="saveUser()"></p-button>
            </div>
        </div>
    </div>
</div>